{% extends "base.html" %}

{% block title %}Dashboards{% endblock %}

{% block content %}
<div class="container theme-showcase" role="main">
    <iframe  src="http://127.0.0.1:5000/kpi1/" frameborder="0" width=700rem height=600rem id="my-iframe" scrolling="no"></iframe>
</div> 
{% endblock %}

<iframe id="top_frame" src="/kpi1/"></iframe>
<div id="middle-row">
    <iframe id="left_frame" src="/kpi2/"></iframe>
    <iframe id="right_frame" src="/kpi3/"></iframe>
</div>
<iframe id="bottom_frame" src="/kpi5/"></iframe>